/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-baby-powder: #fbfef9;
  --vt-c-raisin-black: #191923;
  --vt-c-taupe-gray: #857885;

  --vt-c-honolulu-blue: #0e79b2;
  --vt-c-honolulu-blue-dark: #0358a3;
  --vt-c-honolulu-blue-light: #39afef;

  --vt-c-rose-red: #bf1363;
  --vt-c-carrot-orange: #f39237;
  --vt-c-yellow-green: #85cb33;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-baby-powder);
  --color-text: var(--vt-c-raisin-black);

  --color-links: var(--vt-c-honolulu-blue-dark);
  --color-links-decoration-hover: var(--vt-c-rose-red);
  --color-links-hover: var(--vt-c-honolulu-blue);

  --color-outline: var(--vt-c-rose-red);
  --color-border: var(--vt-c-taupe-gray);
  --color-cta-hover-bg: var(--vt-c-rose-red);
  --color-cta-hover-text: var(--vt-c-baby-powder);

  --color-loader: var(--vt-c-carrot-orange);

  --radius-controls: 0.4rem;

  --line-height-text: 1.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-raisin-black);
    --color-text: var(--vt-c-baby-powder);
    --color-links: var(--vt-c-honolulu-blue-light);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  line-height: var(--line-height-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href] {
  color: var(--color-links);
  text-decoration-thickness: 2px;
  text-underline-position: from-font;
  text-underline-offset: 0;
}

a[href]:hover {
  color: var(--color-links-hover);
  text-decoration-color: var(--color-links-decoration-hover);
}

a[href]:active {
  color: var(--color-links);
  text-decoration-color: var(--color-links-decoration-hover);
}

a[href]:visited {
  color: var(--color-links);
}

a[href] {
  color: var(--color-links);
}

*:focus {
  outline-offset: 4px;
  outline-color: var(--color-outline);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img[src] {
  max-width: 100%;
}
